/EEEReaderNew.iml
/epublib/build
/epublib/epublib.iml
/local.properties
/EReader.iml
/EEEReader2222.iml
/glviewsdk/glviewsdk.iml
/glviewsdk/build
/app/build/*
/app/app.iml
/gradle
/import-summary.txt
/.idea/*
/build/*
/build
/app/build
/.gradle
/.idea
/EReader.jks
